.home-page-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0em 2em;
    border-radius: 1.5em;
    padding: 1em;
    background-color: var(--color-border);
    flex: 1;
    user-select: none;
}

.card-container {
    display: flex;
    flex-direction: column;   
    margin: 0;
    padding: 2em;
    border-radius: 1em;
    background-color: var(--color-surface);
    flex: 1;
}

.auth-card {
    flex: 1;
    margin-left: 1em;
}

.description-card {
    flex: 1.5;
}

.content-big-text {
    color: var(--color-primary);
    font-size: 3em;
    margin: 0;
}

.content-small-text {
    color: var(--color-text-secondary);
    font-size: 1.75em;
}

.content-colored-text {
    color: var(--color-primary);
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-align: center;
}

.features-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
}