<div class="home-page-container">
    <app-home-toolbar-component></app-home-toolbar-component>
    
    <div class="content-container">
        <div class="card-container description-card">
            <h1 class="content-big-text shrikhand-regular">Your Shifts, Simplified</h1>
            <h1 class="content-small-text space-grotesk">
                Track shifts, manage schedules, and stay on top of your time — all in one place. <br><br>
                Whether you're juggling multiple jobs or just want a clearer picture of your work week, 
                <span class="content-colored-text">Shift Calendar</span> makes it easy to keep everything organized.
            </h1>
            <div class="features-container">
                <app-home-feature-component
                    header="View Your Hours"
                    description="See a detailed weekly and monthly breakdown of your total hours worked and profits in multiple job profiles at the same time."
                    class="features-container"
                ></app-home-feature-component>
                
                <app-home-feature-component
                    header="Easy Management"
                    description="Easily and quickly make shift change, work hours change or paid vacation requests to your manager and check their approval status."
                    class="features-container"
                ></app-home-feature-component>
    
                <app-home-feature-component
                    header="Export Information"
                    description="Archive and download a summary of your shifts as a PDF file, perfect for filing taxes, or keeping a personal record of your work history."
                    class="features-container"
                ></app-home-feature-component>
            </div>
        </div>
        <div class="card-container auth-card">
            <app-login-form></app-login-form>
        </div>
    </div>
</div>
