<div class="toolbar">
    <div class="toolbar-left">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,1,0"/>
        <h1 class="toolbar-big-text shrikhand-regular">Shift Calendar</h1>
    
        <div class="toolbar-item">
                <span class="material-symbols-outlined toolbar-icon">home</span>
                <h3 class="space-grotesk toolbar-small-text">Home</h3>
        </div>
        
        <div class="toolbar-item">
            <span class="material-symbols-outlined toolbar-icon">info</span>
            <h3 class="space-grotesk toolbar-small-text">About The Project</h3>
        </div>
        
        <div class="toolbar-item">
            <span class="material-symbols-outlined toolbar-icon">code_blocks</span>
            <h3 class="space-grotesk toolbar-small-text">Source Code</h3>
        </div>
    </div>
    
    <div class="toolbar-right">
        <button type="button" class="toolbar-button custom-button space-grotesk">Sign Up</button>
        <button type="button" class="toolbar-button custom-button space-grotesk">Login</button>
    </div>
</div>
