<h1 class="form-big-text shrikhand-regular">Login</h1>

<div class="form-container">
    <div class="input-container space-grotesk">
        <label for="email" class="form-small-text label-container">
            <span class="material-symbols-outlined label-icon">person</span>
            Email
        </label>
        <input class="form-input" type="text" name="email" id="email">
    </div>
    
    <div class="input-container space-grotesk no-bottom-margin">
        <label for="password" class="form-small-text label-container">
            <span class="material-symbols-outlined label-icon">lock</span>
            Password
        </label>
        <input class="form-input" type="password" name="password" id="password">    
    </div>

    <div class="extra-container space-grotesk">
        <label class="extra-text">
            <input type="checkbox" class="space-grotesk">
            Remember me
        </label>

        <label class="clickable-text extra-text">
            Forgot password?
        </label>
    </div>

    <button class="custom-button form-button space-grotesk">Login</button>
    <label class="extra-text space-grotesk">
        Don't have an account? <span class="clickable-text">Sign up!</span>
    </label>
    <hr class="divider">
    <label class="extra-text space-grotesk">Or</label>
    <button class="custom-button form-button oauth-button space-grotesk">
        Login with Google
        <i class="fa-brands fa-google"></i>
    </button>
    <button class="custom-button form-button oauth-button space-grotesk">
        Login with Github
        <i class="fa-brands fa-github"></i>
    </button>
</div>
